NEXT_PUBLIC_SITE_URL=https://bikiniburger.shop
NEXT_PUBLIC_CONTACT_EMAIL=
NEXT_PUBLIC_DOORDASH_URL=https://www.doordash.com/store/bikini-burger-ardmore-44512416/110398546/
NEXT_PUBLIC_UBER_EATS_URL=https://www.ubereats.com/search?q=Bikini%20Burger%20Ardmore
NEXT_PUBLIC_SEAMLESS_URL=https://www.seamless.com/menu/bikini-burger-44-rittenhouse-pl-ardmore/13877008
NEXT_PUBLIC_GRUBHUB_URL=https://www.grubhub.com/restaurant/bikini-burger-44-rittenhouse-pl-ardmore/13877008
